[submodule "vendor/init-repo"]
	path = vendor/init-repo
	url = https://github.com/ibuchanan/init-repo.git
[submodule "vendor/explore-forge-jira-remote-data-fields"]
	path = vendor/explore-forge-jira-remote-data-fields
	url = https://github.com/ibuchanan/explore-forge-jira-remote-data-fields.git
[submodule "vendor/forge-bootstrap"]
	path = vendor/forge-bootstrap
	url = https://github.com/ibuchanan/forge-bootstrap.git
[submodule "vendor/oss-templates"]
	path = vendor/oss-templates
	url = https://ian_buchanan@bitbucket.org/atlassian/oss-templates.git
